<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David</title>
    <link rel="icon" type="image/png" sizes="300x250" href="https://cdn.discordapp.com/attachments/753459740335538272/897992075872714762/b36721698100fc1d9181d01eb3dd16c2.jpg">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>