<%- include('./partes/_header.ejs') %>
<body class="bg-black">
    <a href="/"><h1 class="transition duration-200 hover:text-indigo-600 text-center p-5 font-bold text-white">Page not found 404</h1></a>
</body>
</html>