<%- include('./partes/_header.ejs') %>
<body class="bg-black">
    <div>
        <a href="/"><h1 class="transition duration-200 hover:text-indigo-600 text-center p-5 font-bold text-white">Hola</h1></a>
        <a href="/queso"><h1 class="transition duration-200 hover:text-indigo-600 text-center p-5 font-bold text-white">Queso 🤫</h1></a>
    </div>
</body>
</html>