<%- include('./partes/_header.ejs') %>
<body class="bg-black">
    <h1 class="transition duration-200 hover:text-indigo-600 text-center p-5 font-bold text-white">Tu: <%= params.tu %></h1>
</body>
</html>